/RUNNING_PID
/logs/
/project/*-shim.sbt
/project/project/
.idea
/out/
.idea_modules/
*.log
.cache
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.scala_dependencies
.worksheet
.DS_Store
*.jar
*.bat


